<body>
<div class="admin-panel">
  <div class="admin-card" routerLink="/salon" style="background-image: url('/gestionar_salon.png')">
    <div class="overlay">
      <h2>Gestionar Salón</h2>
    </div>
  </div>

  <div class="admin-card" routerLink="/employees" style="background-image: url('/gestionar_empleados.png')">
    <div class="overlay">
      <h2>Gestionar Empleados</h2>
    </div>
  </div>

  <div class="admin-card" routerLink="/unvailable-days" style="background-image: url('/gestion_closed.png')">
    <div class="overlay">
      <h2>Días No Disponibles</h2>
    </div>
  </div>

  <div class="admin-card" routerLink="/services" style="background-image: url('/gestionar_servicios.png')">
    <div class="overlay">
      <h2>Gestionar Servicios</h2>
    </div>
  </div>
</div>
<app-sidebar></app-sidebar>
</body>