<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold text-center mb-6">Panel de Administración</h1>
  
    <!-- Opciones del panel -->
    <ul class="space-y-4">
        <li>
            <a routerLink="/salon" class="block w-full py-2 px-4 bg-pink-600 text-white font-semibold rounded-md text-center hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
              Gestionar Salon
            </a>
          </li>
      <li>
        <a routerLink="/employees" class="block w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md text-center hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Gestionar Empleados
        </a>
      </li>
      <li>
        <a routerLink="/unvailable-days" class="block w-full py-2 px-4 bg-green-600 text-white font-semibold rounded-md text-center hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Gestionar Días No Disponibles
        </a>
      </li>
      <li>
        <a routerLink="/services" class="block w-full py-2 px-4 bg-yellow-600 text-white font-semibold rounded-md text-center hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
          Gestionar Servicios
        </a>
      </li>
    </ul>
  </div>