<body>
<div class="admin-panel">
  <div class="admin-card" routerLink="/salon" style="background-image: url('/gestionar_salon.png')">
    <div class="overlay">
      <h2>Gestionar Salón</h2>
    </div>
  </div>

  <div class="admin-card" routerLink="/employees" style="background-image: url('/gestionar_empleados.png')">
    <div class="overlay">
      <h2>Gestionar Empleados</h2>
    </div>
  </div>

  <div class="admin-card" routerLink="/unvailable-days" style="background-image: url('/gestion_closed.png')">
    <div class="overlay">
      <h2>Días No Disponibles</h2>
    </div>
  </div>

  <div class="admin-card" routerLink="/services" style="background-image: url('/gestionar_servicios.png')">
    <div class="overlay">
      <h2>Gestionar Servicios</h2>
    </div>
  </div>
</div>
<div class="menu">
    <ul class="menu-content">
        <li><a href="/login"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
        <li><a href="/salon"><span class="material-symbols-outlined">app_registration</span><span>Gestionar Salón</span></a></li>
        <li><a href="/employees"><span class="material-symbols-outlined">groups_3</span><span>Empleados</span></a></li>
        <li><a href="/unvailable-days"><span class="material-symbols-outlined">calendar_apps_script</span><span>Dias No Disponibles</span></a></li>
        <li><a href="/services"><span class="material-symbols-outlined">euro</span><span>Gestion de Servicios</span></a></li>
        <li><a href="/login"><span class="material-symbols-outlined">logout</span><span>Logout</span></a></li>
    </ul>
</div>
</body>