<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
  <h1 class="text-2xl font-bold text-center mb-6">Registro</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <!-- Nombre -->
    <div>
      <label for="name" class="block text-sm font-medium text-gray-700">Nombre:</label>
      <input id="name" formControlName="name" type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      @if (registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)) {
        <p class="text-red-500 text-sm mt-1">El nombre es obligatorio.</p>
      }
    </div>

    <!-- Correo Electrónico -->
    <div>
      <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico:</label>
      <input id="email" formControlName="email" type="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)) {
        <p class="text-red-500 text-sm mt-1">El correo electrónico es obligatorio y debe ser válido.</p>
      }
    </div>

    <!-- Contraseña -->
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
      <input id="password" formControlName="password" type="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)) {
        <p class="text-red-500 text-sm mt-1">La contraseña es obligatoria y debe tener al menos 6 caracteres.</p>
      }
    </div>

    <!-- Rol -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Rol:</label>
      <div class="mt-1 space-x-4">
        <label>
          <input type="radio" formControlName="role" value="client" class="mr-2"> Cliente
        </label>
        <label>
          <input type="radio" formControlName="role" value="admin" class="mr-2"> Empresa
        </label>
      </div>
      @if (registerForm.get('role')?.invalid && (registerForm.get('role')?.touched || registerForm.get('role')?.dirty)) {
        <p class="text-red-500 text-sm mt-1">Debes seleccionar un rol.</p>
      }
    </div>

    <!-- Botón de envío -->
    <button type="submit" [disabled]="registerForm.invalid" class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Registrarse
    </button>
  </form>
</div>