<body>
     <app-sidebar></app-sidebar>

<div class="service-container">
 

  <h1 class="title">Gestión de Servicios</h1>

  <!-- Formulario de servicio -->
  <form [formGroup]="serviceForm" (ngSubmit)="addService()" class="service-form">
      <div class="form-columns">
          <div class="form-left">
              <div class="form-group">
                  <label for="name">Nombre:</label>
                  <input id="name" formControlName="name" type="text" />
                  @if (serviceForm.get('name')?.invalid && (serviceForm.get('name')?.touched || serviceForm.get('name')?.dirty)) {
                      <p class="error-text">El nombre es obligatorio.</p>
                  }
              </div>

              <div class="form-group">
                  <label for="description">Descripción:</label>
                  <input id="description" formControlName="description" type="text" />
              </div>
          </div>

          <div class="form-right">
              <div class="form-group">
                  <label for="price">Precio:</label>
                  <input id="price" formControlName="price" type="number" />
                  @if (serviceForm.get('price')?.invalid && (serviceForm.get('price')?.touched || serviceForm.get('price')?.dirty)) {
                      <p class="error-text">El precio es obligatorio y debe ser mayor o igual a 0.</p>
                  }
              </div>

              <div class="form-group">
                  <label for="duration">Duración (minutos):</label>
                  <input id="duration" formControlName="duration" type="number" />
                  @if (serviceForm.get('duration')?.invalid && (serviceForm.get('duration')?.touched || serviceForm.get('duration')?.dirty)) {
                      <p class="error-text">La duración es obligatoria y debe ser mayor o igual a 0.</p>
                  }
              </div>
          </div>
      </div>

      <button type="submit" [disabled]="serviceForm.invalid" class="submit-btn">
         <span>Agregar Servicio</span>
          <span>✔</span>
      </button>
  </form>

  <h2 class="service-title">Lista de Servicios</h2>

  <!-- Lista de servicios -->
  <div class="service-list">
      @for (service of services; track service) {
          <div class="service-item">
              <p><strong>Nombre:</strong> {{ service.name }}</p>
              <p><strong>Descripción:</strong> {{ service.description }}</p>
              <p><strong>Precio:</strong> {{ service.price }} €</p>
              <p><strong>Duración:</strong> {{ service.duration }} minutos</p>
              <button (click)="deleteService(service.id)" class="submit-btn">
                   <span>Eliminar</span>
                    <span>✔</span>
              </button>
          </div>
      }
  </div>
</div>
</body>