<!-- Menú superior redondeado -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<div class="menu">
  <ul class="menu-content">
    <li><a routerLink="#"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
    <li><a routerLink="#"><span class="material-symbols-outlined">explore</span><span>Explore</span></a></li>
    <li><a routerLink="/login"><span class="material-symbols-outlined">person</span><span>Iniciar Sesion</span></a></li>
  </ul>
</div>

<section class="hero">
  <h1 class="giant-text">RESERV</h1>
</section>

<section class="main-content">
  <div class="content-box">
    <div class="text-box">
      <h2>Reserva sin complicaciones</h2>
      <p>
        Con <strong>ReserV</strong> puedes gestionar tus citas en cuestión de segundos, sin llamadas, sin esperas y sin complicaciones.
      </p>
      <div class="headline-inline">ReserV pone el control de tu agenda en la palma de tu mano</div>
      <p>
        Porque en el mundo moderno, tu tiempo vale demasiado como para perderlo en sistemas lentos o anticuados.<br><br>
        Bienvenido al futuro de las reservas. <strong>ReserV</strong>.
      </p>
    </div>
    <div class="image-box">
      <img src="https://i.imgur.com/MQJEfMu.png" alt="Imagen Barbería">
    </div>
  </div>
</section>

<!-- Cinta animada RESERV -->
<div class="marquee-container">
  <div class="marquee-track">
    <span>RESERV • RESERV • RESERV • RESERV • RESERV • RESERV • RESERV • RESERV • </span>
  </div>
</div>

<section class="extra-section">
  <div class="extra-content-grid">

    <!-- Bloque izquierdo -->
    <div class="card">
      <img src="https://i.imgur.com/9eQ8efl.png" alt="Imagen izquierda" />
      <h3>Peluqueria</h3>
      <p>Abrete paso y Automatiza tus <strong>reservas</strong></p>
     <a routerLink="/login" class="btn-glow">
  Ver más
  <span></span><span></span><span></span><span></span>
</a>

    </div>

    <!-- Bloque derecho -->
    <div class="card">
      <img src="https://i.imgur.com/iVhStiO.png" alt="Imagen derecha" />
      <h3>Cliente</h3>
      <p>Resera tu proximo corte en <strong>Segundos</strong></p>
      <a routerLink="/login" class="btn-glow">
  Ver más
  <span></span><span></span><span></span><span></span>
</a>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 ReserV. Todos los derechos reservados.</p>
    <div class="footer-links">
      <a routerLink="#">Términos</a>
      <a routerLink="#">Privacidad</a>
      <a routerLink="#">Contacto</a>
    </div>
  </div>
</footer>
