<body>
  <div class="dashboard-wrapper">
    <app-sidebar></app-sidebar>

    <!-- Contenido del Dashboard -->
    <div class="dashboard-container">
      <h1 class="dashboard-title">¿DÓNDE LE GUSTARÍA HACERSE SU CORTE?</h1>

      @if (userData) {
        <div class="user-info">
          <!-- Aquí podrías meter info del usuario -->
        </div>
      } @else {
        <p class="error-text">No estás autenticado. Redirigiendo al inicio de sesión...</p>
      }

      <!-- Tarjetas de Peluquerías -->
      <div class="salones-grid">
        @for (salon of salones; track salon.id) {
          <div class="peluqueria-card">
            <img [src]="apiUrl+salon.bannerUrl || 'default-banner.jpg'" alt="Banner del salón" class="peluqueria-banner" />
            
            <div class="peluqueria-info">
              <h2 class="peluqueria-nombre">{{ salon.name }}</h2>
              <p class="horario">🕓 Abierto desde: {{ salon.openingHours }}</p>
              <a [routerLink]="['/salon', salon.id]">
                <button>
                  <span>Solicitar Cita</span>
                  <span>Reservar</span>
                </button>
              </a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</body>
